* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol,
li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.m0-a {
  margin: 0 auto;
}

.ta-c {
  text-align: center;
}

.ta-l {
  -moz-text-align-last: left;
       text-align-last: left;
}

.ta-r {
  text-align: right;
}

.flex {
  display: flex;
}

.flex-i {
  display: inline-flex;
}

.ai-c {
  align-items: center;
}

.ai-e {
  align-items: end;
}

.ai-s {
  align-items: start;
}

.jc-c {
  justify-content: center;
}

.jc-e {
  justify-content: end;
}

.jc-s {
  justify-content: start;
}

.jc-sb {
  justify-content: space-between;
}

.fd-c {
  flex-direction: column;
}

.flex-w {
  flex-wrap: wrap;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.po-r {
  position: relative;
}

.po-a {
  position: absolute;
}

body {
  background-color: #040d17;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

section .title, section #about-us .site-about-us h2, #about-us .site-about-us section h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Oxanium";
  position: relative;
  padding-bottom: 25px;
  text-align: center;
  margin: 160px 0 64px;
}
section .title::after, section #about-us .site-about-us h2::after, #about-us .site-about-us section h2::after {
  content: "";
  width: 50px;
  height: 4px;
  position: absolute;
  -webkit-clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
          clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #00eebd;
}

button,
.button {
  border: inherit;
  color: #fff;
}

@media only screen and (max-width: 1170px) {
  section .title, section #about-us .site-about-us h2, #about-us .site-about-us section h2 {
    font-size: 32px;
    margin: 100px 0 64px;
  }
}
@media only screen and (max-width: 768px) {
  section .title, section #about-us .site-about-us h2, #about-us .site-about-us section h2 {
    font-size: 24px;
    margin: 80px 0 40px;
  }
}
.btn {
  font-family: "Oxanium";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 16px 45px;
  background: linear-gradient(97deg, #144558 -3.31%, #0e3b4c 112.39%), #0a1f35;
  transform: skewX(-10deg);
  display: inline-block;
  margin: 32px 0;
}

.btn-primary {
  background-color: #0a1f35;
  font-family: "Oxanium";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 16px 45px;
  transform: skewX(-10deg);
  display: inline-block;
  margin: 32px 0;
}

.center {
  display: flex;
  justify-content: center;
}

/* PRELOADER START */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(146deg, rgb(255, 255, 255) 0%, rgb(138, 177, 193) 25%, rgb(41, 63, 99) 69%, rgb(0, 0, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation-name: backgroundOpacity;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1.5s;
}

.threeLoader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle1,
.circle2,
.circle3 {
  border-radius: 50%;
  position: absolute;
  animation-name: loaderAnimetion;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: initial;
}

.circle1 {
  border: 3px solid #bcc33a;
  border-top-color: transparent;
  border-right-color: transparent;
  width: 50px;
  height: 50px;
  animation-duration: 1.2s;
}

.circle2 {
  border: 3px solid #fff;
  border-top-color: transparent;
  border-right-color: transparent;
  width: 60px;
  height: 60px;
  animation-duration: 1.4s;
}

.circle3 {
  border: 3px solid #00eebd;
  border-top-color: transparent;
  border-right-color: transparent;
  width: 70px;
  height: 70px;
  animation-duration: 1.6s;
}

@keyframes loaderAnimetion {
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes backgroundOpacity {
  to {
    opacity: 0;
  }
}
.loaded .preloader {
  opacity: 0;
  pointer-events: none;
  display: none;
}

/* PRELOADER END */
#about-us .container {
  width: 1100px;
}
#about-us .site-about-us {
  display: flex;
}
#about-us .about-img {
  width: 384px;
  height: 395px;
  background: url(/images/about_us_img.jpeg);
  background-size: cover;
  background-position: center center;
  -webkit-clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
          clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
  margin-right: 64px;
}
#about-us .about-us__content {
  width: 650px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
#about-us .about-us__content .live-tables {
  width: 650px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
#about-us .about-us__content .table-content {
  width: 202px;
  height: 92px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  gap: 10px;
  background: linear-gradient(144deg, #0a1f35 -9.37%, #040d17 115.21%);
  -webkit-clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
          clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
  border: 1px solid #346296;
}
#about-us .about-us__content .table-content h6 {
  color: #f5f5f5;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#about-us .about-us__content .table-content h3 {
  font-family: "Oxanium";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#about-us p {
  width: 650px;
  color: #f5f5f5;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}
#about-us .btn-primary {
  margin: 0;
}
#about-us .outside {
  display: none;
}

@media only screen and (max-width: 1170px) {
  #about-us .site-about-us {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  #about-us .about-img {
    width: 334px;
    height: 342px;
    margin-right: 20px;
  }
  #about-us .about-us__content {
    width: 334px;
  }
  #about-us .about-us__content .live-tables {
    width: 334px;
    flex-wrap: wrap;
    gap: 40px;
  }
  #about-us .about-us__content .table-content {
    width: 100%;
    align-items: center;
    padding: 0;
  }
  #about-us .about-us__content p,
  #about-us .about-us__content .btn-primary {
    display: none;
  }
  #about-us .center {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #about-us .outside {
    display: inline-flex;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 768px) {
  #about-us .site-about-us {
    gap: 40px;
  }
  #about-us .about-img {
    margin-right: auto;
  }
  #about-us .outside {
    display: inline-flex;
    margin-top: auto;
    text-align: center;
  }
}
#contact-us .site-contact-us {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
#contact-us .contact-info__wrapper {
  width: 442px;
  height: 322px;
  -webkit-clip-path: polygon(1% 0, 100% 0%, 99% 100%, 0% 100%);
          clip-path: polygon(1% 0, 100% 0%, 99% 100%, 0% 100%);
  background: linear-gradient(143deg, #0a1f35 -9.17%, #040d17 112.72%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}
#contact-us .contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 40px;
  position: relative;
}
#contact-us .contact-info::before {
  position: absolute;
  left: 5px;
  top: 0;
}
#contact-us .contact-info h4 {
  color: #f5f5f5;
  font-family: "Oxanium";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#contact-us .contact-info p {
  color: #eaeaea;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#contact-us .location-info::before {
  content: url(/icons/location.svg);
}
#contact-us .phone-num-info::before {
  content: url(/icons/call.svg);
}
#contact-us .email-info::before {
  content: url(/icons/sms.svg);
}
#contact-us .contact-form__wrapper {
  width: 672px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#contact-us .contact-form__wrapper input,
#contact-us .contact-form__wrapper textarea {
  -webkit-clip-path: polygon(1% 0, 100% 0%, 99% 100%, 0% 100%);
          clip-path: polygon(1% 0, 100% 0%, 99% 100%, 0% 100%);
  border-radius: 0;
  border: 1px solid #346296;
  background: linear-gradient(143deg, #0a1f35 -9.17%, #040d17 112.72%);
  color: #a7b4c3;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px;
}
#contact-us .contact-form__wrapper label {
  color: #fff;
  font-family: "Oxanium";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#contact-us .contact-form__wrapper .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
#contact-us .contact-form__wrapper .btn-primary {
  margin: 0;
}
#contact-us .input-row {
  display: flex;
  gap: 24px;
}

@media only screen and (max-width: 1170px) {
  #contact-us .site-contact-us {
    flex-wrap: wrap;
  }
  #contact-us .contact-info__wrapper {
    width: 100%;
    height: 210px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 70px;
    margin-bottom: 48px;
    padding-bottom: 0;
  }
  #contact-us .contact-info {
    padding-left: 40px;
  }
  #contact-us .contact-info h4 {
    font-size: 16px;
  }
  #contact-us .contact-info p {
    font-size: 14px;
  }
  #contact-us .contact-form__wrapper {
    width: 100%;
    gap: 24px;
  }
  #contact-us .contact-form__wrapper input,
  #contact-us .contact-form__wrapper textarea {
    padding: 20px;
  }
  #contact-us .contact-form__wrapper label {
    font-size: 16px;
  }
  #contact-us .contact-form__wrapper .submit-form-btn-center {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #contact-us .contact-form__wrapper .btn-primary {
    margin: 16px 0 0;
  }
}
@media only screen and (max-width: 768px) {
  #contact-us .contact-info__wrapper {
    height: 270px;
    padding-left: 30px;
    padding-right: 0;
    margin-bottom: 48px;
  }
  #contact-us .contact-info h4 {
    font-size: 16px;
  }
  #contact-us .contact-info p {
    font-size: 14px;
  }
  #contact-us .contact-form__wrapper .submit-form-btn-center {
    justify-content: start;
  }
  #contact-us .contact-form__wrapper .btn-primary {
    margin: 0;
  }
  #contact-us .input-row {
    flex-wrap: wrap;
  }
}
#footer {
  width: 100%;
  margin-bottom: 30px;
}
#footer .site-footer {
  width: 100%;
  padding: 40px 100px 30px;
  -webkit-clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
          clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
  background: linear-gradient(180deg, #0d2137 -14.02%, #030c15 117.3%);
}
#footer .footer-items {
  display: flex;
  gap: 170px;
  align-items: center;
}
#footer .footer-items img {
  width: 130px;
  height: 100px;
}
#footer .footer-items ul {
  display: flex;
  gap: 30px;
}
#footer .footer-items li {
  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#footer .footer-title {
  color: #fff;
  font-family: "Oxanium";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: relative;
  padding-bottom: 14px;
}
#footer .footer-title::after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #00eebd;
  position: absolute;
  top: 100%;
  left: 0;
}
#footer .footer-form__follow-us {
  display: flex;
  padding: 40px 0;
  gap: 120px;
}
#footer .newsletter-signup {
  display: flex;
  flex-direction: column;
  width: 481px;
  gap: 30px;
}
#footer .footer-sign-up {
  display: flex;
  gap: 10px;
  align-items: center;
}
#footer .btn-primary {
  margin: 0;
}
#footer input {
  width: 100%;
  -webkit-clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
          clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
  border-radius: 0;
  border: 1px solid #346296;
  background: linear-gradient(143deg, #0a1f35 -9.17%, #040d17 112.72%);
  color: #a7b4c3;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px;
}
#footer .follow-us {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#footer .socials {
  display: flex;
  gap: 40px;
  color: #fff;
}
#footer .socials .fa-brands {
  font-size: 24px;
}
#footer .all-right-reserved {
  text-align: center;
  color: #fff;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media only screen and (max-width: 1170px) {
  #footer .site-footer {
    width: 100%;
    padding: 43px 30px;
    -webkit-clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
            clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
    background: linear-gradient(180deg, #0d2137 -14.02%, #030c15 117.3%);
  }
  #footer .footer-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }
  #footer .footer-items img {
    width: 80px;
    height: 62px;
  }
  #footer .footer-form__follow-us {
    display: flex;
    padding: 40px 58px;
    justify-content: space-between;
    gap: 0;
  }
  #footer .newsletter-signup {
    width: 292px;
    display: inline-flex;
  }
  #footer .newsletter-signup .footer-title {
    display: none;
  }
  #footer .footer-sign-up {
    gap: 24px;
    flex-wrap: wrap;
  }
  #footer .btn-primary {
    margin: 0;
  }
  #footer .follow-us {
    display: inline-flex;
    flex-direction: column;
    gap: 32px;
    flex-wrap: wrap;
    align-items: center;
  }
  #footer .follow-us .footer-title::after {
    left: 50%;
    transform: translateX(-50%);
  }
  #footer .socials {
    display: flex;
    gap: 40px;
    color: #fff;
  }
  #footer .socials .fa-brands {
    font-size: 24px;
  }
}
@media only screen and (max-width: 768px) {
  #footer .site-footer {
    padding: 30px 20px;
  }
  #footer .footer-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }
  #footer .footer-items ul {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
  }
  #footer .footer-form__follow-us {
    padding: 40px 0;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  #footer .newsletter-signup {
    width: 100%;
  }
  #footer .footer-sign-up {
    justify-content: center;
  }
}
#site-header-hero {
  max-width: 100%;
  height: 783px;
  background: url(/images/header-hero__background-image.png);
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
#site-header-hero::after, #site-header-hero::before {
  content: "";
  width: 734px;
  height: 734px;
  flex-shrink: 0;
  border-radius: 734px;
  background: rgba(63, 210, 236, 0.3);
  filter: blur(250px);
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}
#site-header-hero::after {
  bottom: auto;
  left: auto;
  right: 0;
  transform: translateY(-80%);
}
#site-header-hero .site-navbar {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  align-items: center;
  position: relative;
  z-index: 10;
}
#site-header-hero .site-navbar .navbar-items {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#site-header-hero .site-navbar .navbar-items li {
  font-family: "Oxanium";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
#site-header-hero .site-navbar .header-logo {
  margin: 0 100px;
  width: 130px;
  height: 100px;
}
#site-header-hero .site-navbar label {
  display: none;
}
#site-header-hero .site-navbar .nav-menu {
  display: none;
  width: 100%;
  height: 100vh;
  padding: 20px 40px;
  background-color: #040d17;
  overflow: hidden;
  position: absolute;
  top: -670px;
  left: 0;
  transition: 1s ease-in-out;
}
#site-header-hero .site-navbar .nav-menu::after, #site-header-hero .site-navbar .nav-menu::before {
  content: "";
  background: #000;
  width: 734px;
  height: 734px;
  flex-shrink: 0;
  border-radius: 734px;
  background: rgba(63, 210, 236, 0.3);
  filter: blur(250px);
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(70%);
}
#site-header-hero .site-navbar .nav-menu::after {
  bottom: auto;
  left: 0;
  transform: translateY(-100%);
}
#site-header-hero .site-navbar .nav-menu .menu-items {
  font-family: "Oxanium";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}
#site-header-hero .site-navbar .nav-menu .nav-menu-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 20;
}
#site-header-hero .site-navbar .nav-menu .nav-menu-navbar .nav-menu-navbar-logo {
  width: 52px;
  height: 40px;
}
#site-header-hero .site-navbar .nav-menu .nav-menu-navbar label img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
#site-header-hero .site-navbar input[type=checkbox]:checked + .nav-menu {
  display: block;
  top: 0px;
}

@media only screen and (max-width: 1170px) {
  #site-header-hero {
    height: 535px;
    background-size: 1170px;
    z-index: 999;
  }
  #site-header-hero .site-navbar {
    padding: 20px 40px;
    justify-content: space-between;
  }
  #site-header-hero .site-navbar .navbar-items {
    display: none;
  }
  #site-header-hero .site-navbar .header-logo {
    margin: 0;
    width: 78px;
    height: 60px;
  }
  #site-header-hero .site-navbar label {
    display: inline-block;
  }
  #site-header-hero .site-navbar label img {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 768px) {
  #site-header-hero {
    height: 753px;
    background-size: 688px 753px;
    background-size: cover;
  }
  #site-header-hero .site-navbar .header-logo {
    width: 52px;
    height: 40px;
  }
  #site-header-hero .site-navbar label img {
    width: 32px;
    height: 32px;
  }
}
.site-hero {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  position: relative;
  z-index: 1;
}
.site-hero .site-hero__content {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 133px;
  align-items: flex-start;
}
.site-hero .site-hero__content h2 {
  font-family: "Oxanium";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.site-hero .site-hero__content h2 span {
  color: #00eebd;
}
.site-hero .site-hero__content h1 {
  color: #fff;
  font-family: "Oxanium";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.site-hero .site-hero__image {
  display: flex;
  gap: 30px;
}
.site-hero .site-hero__image .left-img,
.site-hero .site-hero__image .right-img {
  display: flex;
  flex-direction: column;
  gap: 57px;
}
.site-hero .site-hero__image .left-img img,
.site-hero .site-hero__image .right-img img {
  width: 270px;
  height: 294px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.site-hero .site-hero__image .right-img {
  margin-top: 27px;
}

@media only screen and (max-width: 1170px) {
  .site-hero {
    margin-top: 10px;
  }
  .site-hero .site-hero__content {
    gap: 8px;
    margin-top: 84px;
  }
  .site-hero .site-hero__content h1 {
    font-size: 48px;
    font-weight: 600;
  }
  .site-hero .site-hero__content h2 {
    font-size: 28px;
  }
  .site-hero .site-hero__content .btn {
    margin: 14px 0;
  }
  .site-hero .site-hero__image {
    gap: 24px;
  }
  .site-hero .site-hero__image .left-img,
  .site-hero .site-hero__image .right-img {
    gap: 38px;
  }
  .site-hero .site-hero__image .left-img img,
  .site-hero .site-hero__image .right-img img {
    width: 155px;
    height: 168px;
  }
}
@media only screen and (max-width: 768px) {
  .site-hero {
    margin-top: 10px;
    flex-wrap: wrap;
  }
  .site-hero .site-hero__content {
    gap: 8px;
    margin-top: 0;
  }
  .site-hero .site-hero__content h1 {
    font-size: 32px;
    font-weight: 700;
  }
  .site-hero .site-hero__content h2 {
    font-size: 24px;
  }
  .site-hero .site-hero__content .btn {
    margin: 16px 0 51px;
  }
}
#latest-news .site-latest-news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#latest-news .news-card {
  width: 370px;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(134deg, #071626 -7.75%, rgba(7, 22, 38, 0) 136.66%);
}
#latest-news .news-card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-top: -5px;
}
#latest-news .news-card:nth-child(4) {
  display: none;
}
#latest-news .card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}
#latest-news .news-status-date {
  color: #dbdbdb;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#latest-news .news-title {
  color: #f5f5f5;
  font-family: "Oxanium";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
#latest-news .btn-primary {
  margin: 48px 0 20px;
}

@media only screen and (max-width: 1170px) {
  #latest-news .news-card {
    width: 334px;
    margin-bottom: 24px;
  }
  #latest-news .news-card:nth-child(4) {
    display: inline-block;
  }
  #latest-news .news-status-date {
    font-size: 14px;
  }
  #latest-news .news-title {
    font-size: 20px;
  }
  #latest-news .btn-primary {
    margin: 16px 0 0;
  }
}
@media only screen and (max-width: 768px) {
  #latest-news .news-card {
    width: 100%;
  }
  #latest-news .news-card:nth-child(4) {
    display: none;
  }
}
#our-shop .site-our-shop {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#our-shop .shop-card {
  width: 370px;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(134deg, #071626 -7.75%, rgba(7, 22, 38, 0) 136.66%);
}
#our-shop .shop-card:nth-child(4) {
  display: none;
}
#our-shop .shop-card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  overflow: hidden;
}
#our-shop .card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
#our-shop .shop-status {
  color: #dbdbdb;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
#our-shop .shop-name {
  color: #f5f5f5;
  font-family: "Oxanium";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  margin: 16px 0 4px;
}
#our-shop .shop-price {
  color: #f5f5f5;
  font-family: "Oxanium";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
  padding: 0;
}
#our-shop .btn-primary {
  margin: 48px 0 0;
}

@media only screen and (max-width: 1170px) {
  #our-shop .shop-card {
    width: 334px;
    margin-bottom: 34px;
  }
  #our-shop .shop-card:nth-child(4) {
    display: inline-block;
  }
  #our-shop .shop-status {
    font-size: 14px;
  }
  #our-shop .shop-name {
    font-size: 20px;
    margin: 10px 0 4px;
  }
  #our-shop .shop-price {
    font-size: 16px;
  }
  #our-shop .btn-primary {
    margin: 8px 0 0;
  }
}
@media only screen and (max-width: 768px) {
  #our-shop .shop-card {
    margin-bottom: 24px;
  }
  #our-shop .shop-card:nth-child(4) {
    display: none;
  }
  #our-shop .btn-primary {
    margin: 16px 0 0;
  }
}
#tournaments .site-tournaments {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#tournaments .game-card {
  width: 370px;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(134deg, #071626 -7.75%, rgba(7, 22, 38, 0) 136.66%);
  margin-bottom: 30px;
}
#tournaments .game-card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-top: -5px;
}
#tournaments .card-content {
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
}
#tournaments .tournament-game {
  color: #f5f5f5;
  font-family: "Oxanium";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#tournaments .tournament-date {
  color: #eaeaea;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 10px 0 20px;
}
#tournaments .mode__price-content {
  display: flex;
  gap: 30px;
}
#tournaments .mode__price {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: "Oxanium";
  color: #eaeaea;
}
#tournaments .mode__price p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#tournaments .mode__price span {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#tournaments .btn-primary {
  margin: 18px 0 0;
}

@media only screen and (max-width: 1170px) {
  #tournaments .game-card {
    width: 334px;
    margin-bottom: 24px;
  }
  #tournaments .game-card:nth-child(5), #tournaments .game-card:nth-child(6) {
    display: none;
  }
  #tournaments .btn-primary {
    margin: 16px 0 0;
  }
}
@media only screen and (max-width: 768px) {
  #tournaments .game-card {
    width: 100%;
  }
  #tournaments .game-card:nth-child(4) {
    display: none;
  }
  #tournaments .btn-primary {
    margin: 0;
  }
}
#join-tournament {
  margin: 80px 0;
}
#join-tournament .site-join-tournament {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 75px;
  background: url(/images/joun-tournament-bg.png);
  -webkit-clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
          clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
}
#join-tournament .lavel-up {
  display: flex;
  align-items: center;
  gap: 30px;
}
#join-tournament .astro-logo {
  width: 90px;
  height: 90px;
  background: linear-gradient(150deg, #0a1f35 -10.24%, #040d17 161.22%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#join-tournament .astro-logo img {
  width: 58.5px;
}
#join-tournament .lavel-up__title {
  width: 570px;
  color: #fff;
  font-family: "Oxanium";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
#join-tournament .btn-primary {
  padding: 20px 35px;
  background: linear-gradient(96deg, #0b2f3e -3.35%, #06202a 113.64%), #1a4d62;
  margin: 0;
}

@media only screen and (max-width: 1170px) {
  #join-tournament {
    margin: 80px 0 40px;
  }
  #join-tournament .site-join-tournament {
    flex-direction: column;
    padding: 30px 100px;
    gap: 24px;
  }
  #join-tournament .lavel-up {
    width: 100%;
    gap: 24px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  #join-tournament .astro-logo {
    width: 60px;
    height: 60px;
  }
  #join-tournament .astro-logo img {
    width: 39px;
  }
  #join-tournament .lavel-up__title {
    width: 100%;
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  #join-tournament .site-join-tournament {
    flex-direction: column;
    padding: 24px 30px;
    gap: 24px;
  }
  #join-tournament .lavel-up__title {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1170px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 375px;
    padding: 20px 20px 0;
  }
}/*# sourceMappingURL=main.css.map */