#footer {
    width: 100%;
    margin-bottom: 30px;
    .site-footer {
        width: 100%;
        padding: 40px 100px 30px;
        clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
        background: linear-gradient(180deg, #0d2137 -14.02%, #030c15 117.3%);
    }
    .footer-items {
        display: flex;
        gap: 170px;
        align-items: center;

        img {
            width: 130px;
            height: 100px;
        }

        ul {
            display: flex;
            gap: 30px;
        }

        li {
            color: $light;
            font-family: "Inter";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    .footer-title {
        color: $light;
        font-family: "Oxanium";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        position: relative;
        padding-bottom: 14px;

        &::after {
            content: "";
            width: 30px;
            height: 2px;
            background-color: $title-bottom-row;
            position: absolute;
            top: 100%;
            left: 0;
        }
    }

    .footer-form__follow-us {
        display: flex;
        padding: 40px 0;
        gap: 120px;
    }
    .newsletter-signup {
        display: flex;
        flex-direction: column;
        width: 481px;
        gap: 30px;
    }

    .footer-sign-up {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .btn-primary {
        margin: 0;
    }

    input {
        width: 100%;
        clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
        border-radius: 0;
        border: 1px solid $light-blue-col;
        background: linear-gradient(143deg, #0a1f35 -9.17%, #040d17 112.72%);

        color: $input-pl;
        font-family: "Inter";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 20px;
    }

    .follow-us {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .socials {
        display: flex;
        gap: 40px;
        color: $light;

        .fa-brands {
            font-size: 24px;
        }
    }

    .all-right-reserved {
        text-align: center;
        color: $light;
        font-family: "Inter";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

@media only screen and (max-width: 1170px) {
    #footer {
        .site-footer {
            width: 100%;
            padding: 43px 30px;
            clip-path: polygon(2% 0, 100% 0%, 98% 100%, 0% 100%);
            background: linear-gradient(
                180deg,
                #0d2137 -14.02%,
                #030c15 117.3%
            );
        }
        .footer-items {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 60px;

            img {
                width: 80px;
                height: 62px;
            }
        }

        .footer-form__follow-us {
            display: flex;
            padding: 40px 58px;
            justify-content: space-between;
            gap: 0;
        }

        .newsletter-signup {
            width: 292px;
            display: inline-flex;

            .footer-title {
                display: none;
            }
        }
        .footer-sign-up {
            gap: 24px;
            flex-wrap: wrap;
        }

        .btn-primary {
            margin: 0;
        }

        .follow-us {
            display: inline-flex;
            flex-direction: column;
            gap: 32px;
            flex-wrap: wrap;
            align-items: center;

            .footer-title {
                &::after {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .socials {
            display: flex;
            gap: 40px;
            color: $light;

            .fa-brands {
                font-size: 24px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #footer {
        .site-footer {
            padding: 30px 20px;
        }
        .footer-items {
            display: flex;
            align-items: center;
            flex-direction: column;
            align-items: center;

            ul {
                display: flex;
                gap: 30px;
                flex-direction: column;
                align-items: center;
            }
        }

        .footer-form__follow-us {
            padding: 40px 0;
            flex-direction: column;
            align-items: center;
            gap: 40px;
        }

        .newsletter-signup {
            width: 100%;
        }

        .footer-sign-up {
            justify-content: center;
        }
    }
}
