$light: #fff;
$main-bg: #040d17;

$body-light-col: #f5f5f5;
$body-lighten-col: darken(#f5f5f5, 4.31);

$light-blue-col: #346296;

$input-pl: #a7b4c3;
$card-status-col: #dbdbdb;

$title-bottom-row: #00eebd;
